<h1> Welcome  </h1>

<body>
	<%= render :template => "/home/nav" %>


<% if logged_in?(:admin, :manager)%>
	TOP MANAGEMENT LINK: <%= link_to "All Users", team_lead_index_path(User.all.ids) %>
<%end%>

<br>
<br>
<%if(@task.present?) %>
	<%=form_for(@task) do |f|%>
		<div class = "form-group">
			<%=f.label "Mention what you have achieved today"%>
			<%=f.text_area :what_done, class: "form-control"%>
		</div>
	 	<%=f.submit :Submit, class: "btn btn-primary"%>
	<%end%>
<%else%>
	<%=form_for(:task, url: tasks_path) do |f| %>
		<div class = "form-group">
			<%=f.label "What do you plan to learn today?"%>
			<%=f.text_area :what_to_do, class: "form-control"%>
		</div>
		<%=f.submit :Submit, class: "btn btn-primary"%>
	<%end%>
<% end %>

<table class = "table">
	<tr>
		<th>
			Date
		</th>
		<th>
			Accomplished
		</th>
		
		
	</tr>
	<% @tasks.each do |task| %>
		<tr>
			<td>
				
					<%=task.date%>
				
			</td>
			<td>
				<%@tasks.where(date: date).each do |task|%> 
					<%=task.what_to_do%> <br>
				<%end%>
				
				
			</td>
			
			
		</tr>
	<%end%>
</table>
</body>

